body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .login-page {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./Handler.jpg') no-repeat center center/cover; 
    animation: slide-background 5s ease-in-out infinite alternate;}
  
  @keyframes slide-background {
    0% {
        background-position: top center;
    }
    100% {
        background-position: bottom center;
    }
  }
  
  .header-image-container {
    height: 120px;
    width: 100%;
    background-color: white; /* White background for the frame */
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center; /* Centers image horizontally */
    align-items: center; /* Centers image vertically */
    border: 2px solid #ddd; /* Optional: Add a border for better visibility */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
  }
  
  .header-image {
    height: 110px; 
    width: 1525px; 
  }
  
  
  .login-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
  }
  
  .login-box h2 {
    margin-bottom: 20px;
  }
  
  .login-box label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: Trebuchet;
    font-size: 20px;
    color: #61b450;
  }
  
  .login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .login-box button {
    width: 100%;
    padding: 10px;
    background-color: #61b450;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    font-family: Trebuchet;
  }
  
  .login-box button:hover {
    background-color:#5ea350;
  }
  
  .login-box h2 {
    margin: 0 0 20px;
    text-align: center;
    color: #61b450;
    font-family: Trebuchet;
    font-size: 42px;
  }
  .student-login-button,.admin-login-button {
    position: absolute;
    top: 140px; /* Adjust to position at the top */
    right: 55px; /* Adjust to move closer to the right edge */
    background-color: #4caf50; /* Green color */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .student-login-button,.admin-login-button:hover {
    background-color: #388e3c; /* Darker green for hover */
  }
  .login-box input:focus {
    border-color: #1a73e8;
    outline: none;
  }
  
  .input-error {
    border-color: #d93025 !important;
  }
  
  .error-message {
    font-size: 12px;
    color: #d93025;
    text-align: left;
    margin-top: 2px;
    margin-bottom: 10px;
  }